[Desktop Entry]
Categories=Utility;Security;Qt;
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=keepassxc %f
GenericName=Password Manager
Hidden=true
Icon=keepassxc
MimeType=application/x-keepass2;
Name=KeePassXC
StartupNotify=true
StartupWMClass=keepassxc
Terminal=false
TryExec=keepassxc
Type=Application
Version=1.0
