# main things

snippet sign "Signature"
Yours sincerely,

Ahmed Gamal Eltokhy
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet me "my name"
Ahmed Gamal Eltokhy
endsnippet

snippet snip "snippet"
snippet $1 "$2"
$0
endsnippe$3
endsnippet

